skin/red/css
skin/red/js
images/skin/red/
include/config.php
include/smartyconfig.php
a.htaccess
payment_goal.html
Flag/*
_log_/*
log/*
addtestsite/
backup/
caches/*
caches./
caches_bak/
flyer_images/
include/html2ps/temp/*
include/html2ps/cache/*
insert_data/
ipgtest/
job/
myadmin/
nr/
outerlink/
profile_images/*
phpDB
temporary_files/*.*
template_images/
upload/
userfiles/*
userfiles2
wasp/
*old*.*
*.bak
*.zip
*.mp3
*.flv
.svn/

*.project
*.buildpath
.idea/
