.content{
	background-color: #e2eff3;
	text-align: center;
	margin: 0 auto;
}
.content h2{
	font-weight: normal;
	font-size: 40px;
	color: #58595b;
	text-transform: capitalize;
}
.divider{
	width: 200px;
	height: 2px;
	background-color: #c2ddf6;
	margin: 100px auto 0px;
}
.content h3{
	color: #58595b;
	font-size: 32px;
	margin-bottom: 25px;
}
.btn-text{
	width: 440px;
	height: 100px;
	background-color: #ffffff;
	margin: 0px auto 0px;
	text-align: center;
	text-transform: uppercase;
	color: #58595b;
	font-weight: bold;
	font-size: 55px;
	line-height: 100px;
	border: 3px solid #d1d3d4;
	margin-bottom: 100px;
}
.content a{
	color: #5b5095;
	text-decoration: none;
	font-size: 50px;
	padding-bottom: 50px;
	display: block;
}

.link_url{
	color: #5b5095;
	text-decoration: none;
	font-size: 50px;
	padding-bottom: 50px;
	display: block;
}