<?php

/* add by Haydn.H at 20111009 ========Begin========= */
// domain jump

$_host = $_SERVER['HTTP_HOST'];
$_url = $_SERVER['SCRIPT_NAME'].(empty($_SERVER['QUERY_STRING'])? '' : '?'.$_SERVER['QUERY_STRING']);

//paypal payment gateway setting
//is testing payment? 1=test/0=live
define("PAYPAL_DEBUG", '0');

require_once 'subsiteconfig.php';

$host = "localhost" ;
$user = "root" ;
$pass = "" ;
$database = "foodmp" ;
$table = "aus_soc_";

define("DEFAULT_STATE","NSW");
define("DEFAULT_COUNCIL","Woollahra");

if (!defined("LANGCODE")) {
    define("LANGCODE","en-au");
}

define("FB_APP_ID", "1400172183549210");
define("FB_APP_SECRET", "7e0374ed4241f71d5eaae1f9f43f895e");

define("SHOW_ALAN_JONES_BUTTON",true);
define("SHOW_REWARDS_BANNER",false);
define("SHOW_FAN_PROMO_SIDEBAR",true);

define("SITE_ROOT",dirname(dirname(__FILE__)));

define("DATAFORMAT_DB","%d/%m/%Y");
define("TEMPLATEDIR","");
define("UPLOADDIR","/");
define("CURRENCYCODE","AUD");
define("PAGESIZE", 25);
$countryID = (CURRENCYCODE == 'AUD')?'13':'223';
if(DATAFORMAT_DB=="%m/%d/%Y"){
    date_default_timezone_set('America/New_York');
}else{
    date_default_timezone_set('Australia/Sydney');
}
define("TIME_MAP",date("P"));

// Transaction test switcher
// added by jessee 20081121
define("TRANSACTION_DEBUG", 0);

define("FREE_REGISTER", true);

//your paypal business account
if(PAYPAL_DEBUG==1){
define("PAYPAL_EMAIL", 'sienpo_1208048918_biz@gmail.com');
}else{
define("PAYPAL_EMAIL", 'info@thesocexchange.com.au');
define("PAYPAL_APP_ID", 'APP-8CG79344NS730330J');
define("PAYPAL_API_USERNAME", 'info_api1.thesocexchange.com.au');
define("PAYPAL_API_PASSWORD", '2EKAR4X8PDKFY4SC');
define("PAYPAL_API_SIGNATURE", 'AYt6U7xCIPU2uI5PWkywj6DAY3bcAuVW4YDn0dC4DuE4M10wOdh3HIEv');
}
//your site url, it must be a url that could be vistited through internet, and must end with a '/'
define("PAYPAL_SITEURL", 'http://foodmarketplace.com.au/');

//google checkout server type
define("GOOGLE_CHECKOUT_SERVER_TYPE", 'sandbox');

//payment default method  added by ping.hu 20081123
//define(SIGNON_PAYMENT,'ipg');
/**
 * nr => NetRegister
 * ipg => ipg
 * other:paypal
 */
define("SIGNON_PAYMENT",'eway');
//is testing payment? 1=test/0=live
define("EWAY_DEBUG", '0');

define("DISTANCE_SCALE","km");
/**
 * NR payment
 */
define("NR_PAYMENT_DEBUG_MODE", false);    //debug
define("NR_PAYMENT_USER_ID", '7792518FL');
define("NR_PAYMENT_PWD", 'Bjcarrington88');

//END
//These constants may need to be modified for your system
define("THE_CLIENT_ID", "10004842");
define("THE_CERT_PATH", str_replace('/include/config.php', '', str_replace('\\', '/', __FILE__))."/include/ipg/cert.cert");
define("THE_CERT_PASSWORD", "reep19f2");
//is testing payment? 3007=test/3006=live  added by ping.hu 20081123
define("THE_PORT", "3006");
define("THE_SERVER", "www.gwipg.stgeorge.com.au");


define("FLYERS_HOST", "www.foodmarketplace.com.au");

//$time_zone_offset = -50400;
$time_zone_offset = -14400;

$large_icon_description = "my shop tagline my shop ";

$samplesiteid = array(1=>'854238',2=>'854235',3=>'854246',4=>'854241',5=>'854240',6=>'854247',7=>'854243',8=>'854242',9=>'854248',10=>'853610',11=>'853495',12=>'853490');

//payment check time of soc_tmpcustom , added by ping.hu 20091117
define("DISABLED_TIME", 30*60);

//session domain set
//session_set_cookie_params(0, '/', '.foodmarketplace.com.au');
//@ini_set("session.cookie_domain",".foodmarketplace.com.au");
define('RDURL','/soc.php?cp=home');


/*
 * Config Https Host
 */

//define(SOC_HTTP_HOST,'http://foodmarketplace.com.au/');

/* modify by Haydn.H at 20111009 ========Begin========= */
define("SHORT_HOSTNAME","foodmp.com.au");
define("SITENAME","FoodMarketplace.com.au");
define("DOMAIN",strtolower(SITENAME));
define("IMAGES_URL","//".DOMAIN."/images");
define("STATIC_URL","//".DOMAIN."/static/");
$secure_connection = !empty($_SERVER['HTTPS']);

if ($secure_connection) {
   define("SOC_HTTP_HOST", 'https://'.DOMAIN.'/');
   define("SOC_HTTPS_HOST", 'https://'.DOMAIN.'/');
} else {
   define("SOC_HTTP_HOST", 'https://'.DOMAIN.'/');
   define("SOC_HTTPS_HOST", 'https://'.DOMAIN.'/');
}

// Set the email domain
define("EMAIL_DOMAIN",DOMAIN);
/* modify by Haydn.H at 20111009 ========End========= */

include_once('sellerconfig.php');
?>
