@charset "utf-8";
/* CSS Document */
div#wishlist_left{
	float:left;
	margin-left:10px;
	_margin-left:5px;
	width:243px;
	height:563px;
	position:relative; 
	z-index:1001;
}
div#moredetails{
	background:#FFF;
	height:105px;
	overflow:hidden;
	padding:0 15px;
	font-size:13px;
	width:213px;
	float:left;
}
.morelinks{
	background:#FFF;
	padding:10px 15px 0 15px;
	text-align:right;
	width:213px;
	float:left;
}
.morelinks a{
	text-decoration:none;
}
div#wishlist_center{
	float:left; 
	margin-left:10px; 
	width:477px;
	position:relative; 
	z-index:1001;
}
div#wishlist_header{
	width:467px;
	height:20px;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	padding-top:5px;
	padding-left:10px;
}
ul#wishlist_prolist{
	list-style:none;
	margin:0px;
	padding:0px;
	width:457px;
}
ul#wishlist_prolist li{
	list-style:none;
	float:left;
	width:457px;
	height:90px;
	margin:10px 10px 0 10px;
	_margin:10px 5px 0 5px;
	padding:0;
	border-top:1px solid #CCC;
}
ul#wishlist_prolist li.firstli{
	border-top:0;
}
#listimg{
	width:80px;
	float:left;
	height:80px;
	padding:10px 10px 0 0;
}
#listcontent{
	width:260px;
	float:left;
	padding-top:10px;
	height:80px;
}
.protitle a{
	font-weight:bold;
	text-decoration:none;
	color:#352C7B;
}
#listprice{
	width:107px;
	float:left;
	padding-top:10px;
	height:80px;
	font-weight:bold;
}
.arrowgrey{
		background:transparent url(/skin/red/images/li-orange.gif) no-repeat scroll 0 6px;
		color:#777777;
		padding-left:15px;
		padding-top:4px;
		font-weight:bold;
		text-decoration:none;
}
